*.gem
.bundle/
log/*.log
pkg/

spec/app/db/*.sqlite3
spec/app/db/*.sqlite3-journal
spec/app/log/*.log
spec/app/node_modules/
spec/app/yarn-error.log
spec/app/storage/
spec/app/tmp/
spec/app/log/*
spec/app/.generators
spec/app/.rakeTasks

.ruby-version

.idea
jsonapi_parameters.iml
